<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Mural de recados" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <link href="images/favicon.ico" rel="shortcut icon">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= root_url %>">Mural de recados</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav pull-right">
              <li><a class="sign-in" data-toggle="modal" href="#signin">Entrar / Cadastro</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="container" class="container-fluid"
      data-recados='<%= Recado.all.to_json(include: { usuario: { except: [:email] } }) %>'></div>

    <div id="signin" class="hide fade">
      <%= render 'shared/signin' %>
    </div>

    <!-- Javascripts
    ================================================== -->
    <%= javascript_include_tag "application" %>
  </body>
</html>
